
		<form action="" method="post">
			<div class="form-group"><input class="form-control" type="email" name="" id="" placeholder="email"></div>
			<button class="btn btn-success" type="submit">Reset</button>
		</form>