<link rel='stylesheet' href='/stylesheets/messages.css' />
<ul>
	{{#each messages}}
	<li> {{msg}} </li>
	{{/each}}
</ul>
{{!-- <div id="hello">id="hello</div>
<div class="hello">class="hello</div> --}}
<div class="content row">
	<div id="sidebar">
		{{!-- {{#each chats}}
		{{/each}} --}}
		<div class="person">
			<div class="profile_pic"><img src="#" alt="profile picture"></div>
			<div class="details">
				<div class="name">name</div>
				<div class="online_status">online_status</div>
			</div>
		</div>
	</div>
	<div id="view">
		{{!-- view --}}
		{{!-- {{#each messages}}
		{{/each}} --}}
		<div id="title">user_name</div>
		<div id="views_content">
			<div class="message">
				<p class="icon_pic"><img src="" alt=""></p>
				<p class="message_content">this is a smaple message</p>
				<p class="message_time">8:32</p>
			</div>
			<div class="message">
				<p class="icon_pic"><img src="" alt=""></p>
				<p class="message_content">this is a smaple message</p>
				<p class="message_time">8:32</p>
			</div>
		</div>
	</div>
</div>
