<div class="errors">
	{{!-- <p>{{error_list}}</p> --}}
	{{!-- <ul>
		{{#each error_list}}
			<li  class="alert alert-danger" role="alert">{{this}}</li>
		{{/each}}
	</ul> --}}

	<div class="row">
		{{#each error_list}}
			<div class="alert alert-danger border border-danger text-center col-sm-3" role="alert">{{this}}</div>
		{{/each}}
	</div>
</div>


<div class="container">

	 <div class="row bg-light">
            <div class="col-sm" >
				<br>
				<hr>
              <div class='col-30'>
                <br>
                <br>
                <form class="col-sm-9" action="/register" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="font-weight-bold" for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="reg_username" placeholder="Username"  >
                      </div>
                      <div class="form-group">
                        <label  class="font-weight-bold" for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="reg_email" placeholder="Email"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="font-weight-bold" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="reg_name" placeholder="Name"  >
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold" for="surname">Surname</label>
                        <input class="form-control" type="text" name="surname" id="reg_surname" placeholder="Surname"  >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="password">Password</label>
                    <input class="form-control" type="password" name="psswd" id="reg_password" placeholder="Password"  >
                  </div>
                  <div class="form-group">
                    <label  class="font-weight-bold" for="confirm_password">Confirm Password</label>
                    <input class="form-control" type="password" name="psswd1" id="reg_confirm_password" placeholder="Confirm Password"
                     required>
                  </div>
                  <br>
				  <hr>
                  <button class="btn btn-danger" type="submit">SignUp</button>
                  <a href="/login"> Already SignedUp?</a>
                </form>
              </div>
			  

              </div>
           
          <div class="col-sm">
            
            <div class="container mt-3" style="max-height: 250rem;">

              <h2 class="text-info">Find Your Perfect Match ...</h2>
              <br>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
              
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="0"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS5kpWhaZD21P7kVUlFYniBuFiPvPV6b9IrUVxx0iso6aZecUl&s"  class="rounded-circle" alt="" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwZfXB526yVaPfrVRYVrM4vXXppdscHX9BBVUVBADzyvDEmJX9&s"  class="rounded-circle" alt="" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTeoVJXcqOnaa7QlHSmOoiZ8z39pXYr3YA2RAiwUwk5J3AZ4ta&s"  class="rounded-circle" alt="" width="1100" height="500">
                  </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
              
              </div>
              <br>
              <br>
              <h2 class="text-info">Right here!!!</h2>
              <hr>
            </div>
        </div>

</div>

