<link rel='stylesheet' href='/stylesheets/take_picture.css' />

<div class="tab-pane" id="choose-profile" role="tabpanel" aria-labelledby="choose-profile-tab">
	<h5 class="text-center">Select Profile Picture</h5>
	<div class="row">
		<div class="col-6">
			<p>Current Profile Picture</p>
			<img id="profile_Pic" class="rounded-circle" src="{{profile_pic}}" alt="profile picture">
		</div>
	</div>
	<br>
	<hr>
	<fieldset>
		<legend>Your Picutres</legend>
		<form action="/take_picture" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<input type="file" class="form-control-file" name="uploaded_file" required>
				<button type="submit" class="btn btn-success">upload</button>
			</div>
		</form>
		{{#each pics}}
			{{#if this}}
				<div class="ppDiv inline">
					<img class="user_pics" src="{{this.pic}}" alt="">
					<form id="modify_pics" action="/take_picture" method="post">
						<div class="center">
							<input type="hidden" name="thumb" value="{{this.pic}}">
							<div class="inline"><button type="submit" id="change" class="btn btn-success" name="change"
									value="change">Change</button></div>
							<div class="inline"><button type="submit" id="delete" class="btn btn-danger" name="delete"
									value="delete">Delete</button></div>
						</div>
					</form>
				</div>
			{{/if}}
		{{/each}}
	</fieldset>
</div>

<script src="/javascripts/take_pic.js"></script>
<script>
	$(function () {
		$('#myTab li:last-child a').tab('show')
	})
</script>