<link rel='stylesheet' href='/stylesheets/view_messages.css' />
<div id="chat">
	<div id="display-chat">
		<div id="title"><h1>John Doe{{name}}</h1></div>
		<div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>John</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div>
		<div class="message-container">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>you</b> at </div>
				<div class="message_time d-inline text-muted">08:35</div>
			</div>
		</div>
		<div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>John</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div>
		<div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>John</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="input-group">
				<input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
				<span class="input-group-btn">
				<button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
				</span>
			</div>
		</div>
	</div>
	<div id="input"></div>
</div>

<script src="/javascripts/view_messages.js"></script>