<link rel='stylesheet' href='/stylesheets/view_messages.css' />

<div id="chat">
	<div id="display-chat">

		<div id="title">
			<h2>{{friend.usr_user}}</h2>
		</div>
		<div id="message-body"></div>	
		<div class="panel-footer">
			<a href="/view_profile/{{this._id}}">
			</a>
			<form action="/sendMessage" method="post">
				<div class="input-group">
					<input type="hidden" name="dest" id="chat_friend"value="{{friend._id}}">
					<input id="btn-input" type="text" name="text" class="form-control input-sm chat_input"
						placeholder="Write your message here..." />
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" type="submit" id="btn-chat">Send</button>
					</span>
				</div>
			</form>
		</div>
	</div>

</div>

<script src="/javascripts/view_messages.js"></script>