.content :hover {
	background-color: rgba(255, 0, 0, 1.0);
	border-radius: 25px;
}
a {
	text-decoration: none;
	}
.content {
	/* display: inline; */
	width: 350px;
	text-decoration: none;
	border-width: 1px;
	border-radius: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	margin: 10px;
}

.chat_profile{
	/* display: inline; */
	/* width: 100%; */
	border-width: 1px;
	border-color: rgba(255, 0, 0, 0.3);
	padding: 10px;
}
.profile_picture {
	display: inline;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	margin: 10px;
	padding: 10px;
	/* width: 30%; */
	/* width: 100%; */
}
.information{
	display: inline;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	padding: 10px;
}
.name {
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 0px;
	/* font-family: "Times New Roman", Times, serif;
	font-weight: bold; */
	/* padding: 10px; */
	font: bold 12px/30px Georgia, serif;
}

.last_text {
	/* display: block; */
		/* border-width: 1px;
		border-color: rgb(201, 32, 173);
		border-style: solid; */
	/* background-color: orangered; */
	/* width: 100%; */
	/* margin: 10px; */
	/* padding: 10px; */
	font: italic bold 12px/30px Georgia, serif;
}
