.content{
	background-color: orangered;
}
#hello{
	width: 3cm;
	height: 3cm;
	background-color: green;
	margin: 10px;
	border-style: solid;
	border-width: thick;
	border-color: darkred;
	border-radius: 10px;
}
.hello{
	width: 3cm;
	height: 3cm;
	background-color: green;
	margin: 10px;
}
#sidebar{
	width: 20%;
	height: 100%;
	background-color: green;
	margin: 10px;
	border-style: solid;
	border-width: thin;
	border-color: whitesmoke;
	border-radius: 10px;
}
/* .person{} */
/* .profile_pic{} */
/* .details{} */
.name{
	
}
/* .online_status{} */
#view{
	width: 70%;
	background-color: white;
	margin: 10px;
	border-style: solid;
	border-width: thin;
	border-top-color: silver;
	border-right-color: silver;
	border-bottom-color: silver;
	border-radius: 10px;
	/* border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; */
}
#title{
	/* background: rgba(0, 0, 0, 0.8); */
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	text-align: center;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#views_content{
	padding: 10px;
}
.message{
	border-style: solid;
	border-width: thin;
	border-color: blue;
	padding: 10px;
}
.icon_pic{
	width: 30px;
	height: 30px;
	background-color: silver;
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 100%;
	vertical-align: 50%;
}
.message_content{
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	display: inline;
	/* border-style: solid;
	border-width: thin;
	border-color: blue; */
	padding-right:15 ;
	padding-left:15 ;
	padding: 10px;
	border-radius: 100px;
	background-color: chartreuse;
	/* vertical-align: 50%; */
}
.message_time{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10px;
	display: inline;
}
