body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

menu {
	padding-bottom: 10px;
}

menu a {
	color: aliceblue;
	font-weight: bold;
	width: 80px;
}

menu a img {
	width: 35px;
	text-align: center;
}

a button:hover {
	background: rgba(255, 0, 0, 0.8);
	color: black;
	background-color: white;
}

.border {
	border-style: solid;
	border-color: black;
}